*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    height: 70px px;
    width: 100%;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}
.nav-elem{
    /* flex:auto; */
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.nav-elem button{
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-size: larger;
    border: none;
    padding: 15px 80px 15px 80px;
    /* margin: 5px; */
}
.nav-elem button:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.navbar:first-child span{
    font-size:xx-large;
    font-weight: 900;
}
.nav-elem:nth-child(2) a{
    padding: 20px;
    font-size: 30px;
}
.nav-elem a{
    text-decoration: none;
}
.nav-elem a:hover{
    cursor: pointer;
}
.banner{
    display: flex;
    padding: 0px 96px 0px 96px;
}
.banner-text{
    font-size: 40px;
    padding-top: 100px;
}
.banner-text P{
    font-size: 27px;
    padding-top: 15px;
}
.banner-button{
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: large;
    border: none;
    padding: 15px 80px 15px 80px;
    /* margin: 5px; */
}
.banner-button:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.curriculum{
    background-image: url(./assets/bg.png);
    text-align: center;
    padding: 0 96px 0 96px;
}
.card-heading{
    padding: 40px 0 40px 0;
    font-size: 25px;
}
.card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 368px;
    height: 482px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00001a;
    transition: transform 0.3s ease;
}

.card img {
    border-radius: 8px;
    padding: 25px;
}

.card h1 {
    font-size: 24px;
    margin: 15px 0;
    color: #333;
}

.card p {
    padding: 15px;
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.card a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #0056b3;
}

.card:hover {
    transform: translateY(-10px); /* Slight hover effect */
}

/* Footer */
.footer {
    display: flex;
    background-color: #01acfd;
    padding: 96px;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.foot-about,
.foot_links,
.contact {
    flex: 1; 
    /* margin: 0 20px;  */
    min-width: 250px; 
}
.foot_links{
    padding-left:150px;
}
.contact{
    padding-left: 100px;
}
.contact a{
    padding: 0px 10px 0px 10px;
}
.contact h1{
    padding-bottom: 15px;
    padding-left: 10px;
}
.foot-logo {
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.vision {
    font-size: 15px;
    color: white;
}

.foot_links {
    color: white;
    font-size: 20px;
}

.foot_links a {
    text-decoration: none;
    color: white;
    display: block; 
    margin: 5px 0;
}
.foot_links a:hover{    
    opacity: 50%;
}
.contact {
    color: white;
}

.contact a img {
    margin-right: 10px;
}



p, a, button, h1, h2, h3, h4, h5, h6, span {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
 }

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
 }
@media screen and (max-width: 576px) {
    .nav-elem:first-child span,
    .nav-elem:nth-child(2),
    .nav-elem:nth-child(3){
      display: none;
    }
    
    .nav-elem:first-child img{
        width: 40px;
        height: 40px;
    }

    .hamburger {
      display: flex;
    }
    .navbar{
        padding: 20px 20px 20px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid orange;
    }
    
    .nav-elem.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 10;
        text-align: center;
      }

    .nav-elem.active a {
        padding: 10px;
        font-size: 20px;
      }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
    }
    .banner-text{
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }
    .banner-text P{
        font-size: 15px;
        padding-top: 5px;
    }
    .banner-image{
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }
    .banner-text img{
        max-width: 500px;
        width: 100%;
        
    }
    
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
    }

    .card img {
        max-width: 100%;
        height: auto;
    }

    .card h1 {
        font-size: 20px;
    }

    .card p {
        font-size: 14px;
    }

    .footer {
        flex-direction: column; 
        padding: 40px; 
    }

    .foot-about,
    .foot_links,
    .contact {
        margin: 20px 0; 
        padding-left: 0;
    }
    .foot_links a{
        padding: 15px 0 15px 0;
    }
    .contact h1{
        padding-left: 0;
        padding-bottom: 10px;
    }
    .contact a{
        padding-right:20px;
        padding-left: 0;
    }
    
    .foot-logo {
        flex-direction: column; 
        align-items: flex-start;
    }


  }